node/node_modules
*target
*.swp
*.log
*.pid
.cake
*.jar
utils/layout-tasks/target
utils/layout-tasks-clj/.lein-deps-sum
utils/layout-tasks-clj/.lein-failures
.idea
.lein-deps-sum
*.iml
*.ipr
*.iws
*nohup.out
