<h1>Howdy</h1>

<script type="text/javascript">
function onLinkedInAuth() {
  IN.API.Profile("me").result( function(me) {
      var id = me.values[0].id;
      var loginHash = '<%= loginHash %>';
      console.log("Member id: " + id);
      console.log("Login hash: " + loginHash);
      // AJAX call to pass back id to your server
  });
}
</script>

<script type="IN/Login" data-onAuth="onLinkedInAuth"></script>
